/* App.css or your global CSS file */
html,
body,
#root {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  display: flex;
  overflow-y: auto;
}

.sidebar {
  flex: 0 0 auto; /* Ensure sidebar doesn't grow */
}

.footer {
  flex-shrink: 0;
}
